---
import HEXtoRGB from "./HEXtoRGB.astro";
import HSL from "./HSL.astro";

---

<section class="flex flex-col gap-4 justify-center items-start">
    <h3 class="converterTitle">Color Converter</h3>
    <HEXtoRGB />
    <hr class="border-[#303436] w-full">
    <HSL />
</section>