---
import NumConverter from "./Units/NumConverter.astro";
import SpeedUnitConverter from "./Units/SpeedUnitConverter.astro";
import StorageConverter from "./Units/StorageConverter.astro";
import TemperatureConverter from "./Units/TemperatureConverter.astro";
import TimeUnitConverter from "./Units/TimeUnitConverter.astro";
// Aquí van las props y los imports que necesites
---

<div class="converter-selector">
    <h2 class="text-lg font-bold mb-4">Selecciona un Conversor</h2>
    <div class="converter-buttons flex flex-col gap-4">
        <button class="converter-btn" data-converter="converter1">NumConverter</button>
        <button class="converter-btn" data-converter="converter2">SpeedUnitConverter</button>
        <button class="converter-btn" data-converter="converter3">StorageConverter</button>
        <button class="converter-btn" data-converter="converter4">TemperatureConverter</button>
        <button class="converter-btn" data-converter="converter5">TimeUnitConverter</button>
    </div>

    <div class="converter-content">
        <div class="converter" id="converter1" style="display: none;">
            <NumConverter />
        </div>
        <div class="converter" id="converter2" style="display: none;">
            <SpeedUnitConverter />
        </div>
        <div class="converter" id="converter3" style="display: none;">
            <StorageConverter />
        </div>
        <div class="converter" id="converter4" style="display: none;">
            <TemperatureConverter />
        </div>
        <div class="converter" id="converter5" style="display: none;">
            <TimeUnitConverter />
        </div>
    </div>
</div>

<script>
    // @ts-nocheck

    const buttons = document.querySelectorAll('.converter-btn');
    const converters = document.querySelectorAll('.converter');

    buttons.forEach(button => {
        button.addEventListener('click', () => {
            // Oculta todos los convertidores
            converters.forEach(converter => {
                converter.style.display = 'none';
            });
            // Muestra el convertidor correspondiente
            const converterId = button.getAttribute('data-converter');
            document.getElementById(converterId).style.display = 'block';
        });
    });

    // Muestra el primer convertidor por defecto al cargar la página
    document.getElementById('converter1').style.display = 'block';
</script>

<style is:inline>
@tailwind base;
</style>
