---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import SemiFooter from '../components/SemiFooter.astro';

import testimonialImage from "/src/assets/images/users/user1.webp"
---

<Layout title="Portfolio Prototype v3 | About">
	<Header page='about' />
	<main class="scroll-smooth w-full px-6 md:px-10 pt-12 pb-6 max-w-5xl m-auto">

        <section class="pt-12 flex flex-col gap-24 md:gap-44">
            
            <article class=" max-w-2xl flex flex-col justify-center items-start gap-12">
                <h2 class="text-5xl md:text-6xl text-pretty !leading-[5.5rem]">About</h2>

                <div class="flex flex-col gap-8 max-w-7xl text-lg tracking-wider">
                    <p class="">Being a team of one, I aim to form strong, interpersonal connections with my clients and understand the why behind what they want to achieve. That process begins by learning about their business and industry as I believe that good design is influenced by a strong understanding of these fundamentals.</p>
                    <p class="">Whether I’m designing a website, product, or pitch deck, I always aim to sweat the details, but know that done is sometimes better than perfect. I adapt my workflow and communication style to my clients needs on a case by case basis.</p>
                </div>
            </article>

            <section class=" w-full">
                <header class="">
                    <h3 class="text-4xl">Capabilities</h3>
                </header>

                <footer class=" pt-8 md:pt-20 md:pb-12 flex flex-col gap-12 font-Syne md:w-full">
                    <section>
                        <ul class="listOfServices [&>li]:bg-[#1d1f20] flex flex-col gap-8 md:flex md:flex-row md:[&>li]:w-full
                            [&>li>article]:relative [&>li>article]:px-8 [&>li>article]:py-8 [&>li>article]:flex [&>li>article]:flex-col [&>li>article]:justify-center [&>li>article]:items-start [&>li>article]:gap-8 [&_svg]:fill-white
                            ">
                            <li>
                                <article>
                                    <header>
                                        <svg class="svg replaced-svg serviceSvg " xmlns="http://www.w3.org/2000/svg" height="42px" width="42px" viewBox="0 -59 400 400"><path d="m329.5 30h-89.5v-20.199219c.101562-5.300781-4.199219-9.699219-9.5-9.800781-.101562 0-.199219 0-.300781 0h-61.199219c-5.398438-.0976562-9.898438 4.203125-10 9.703125v.097656 20.199219h-89.300781c-5.5 0-10 4.5-10 10s4.5 10 10 10h60.601562c-24.199219 21-39.300781 50.800781-39.300781 83.703125v67.296875h-18.199219c-5.402343 0-9.800781 4.402344-9.800781 9.800781v.199219 61.203125c-.101562 5.296875 4.199219 9.699219 9.5 9.796875h.300781 61.199219c5.398438.101562 9.898438-4.296875 10-9.699219v-.097656-61.203125c0-5.5-4.5-10-10-10h-23v-67.296875c.101562-33.101563 18.601562-63.300781 48-78.5v15.796875c0 5.5 4.398438 10 9.898438 10h61.300781c5.402343 0 9.800781-4.398438 9.800781-9.796875 0-.101563 0-.101563 0-.203125v-15.796875c29.398438 15.097656 48 45.398437 48 78.5v67.296875h-22.800781c-5.597657 0-10.097657 4.402344-10.199219 10v61.203125c.101562 5.5 4.699219 9.898437 10.199219 9.796875h61.199219c5.203124.101562 9.5-4.097656 9.601562-9.398438 0-.101562 0-.300781 0-.398437v-61.203125c.199219-5.296875-4-9.796875-9.300781-10-.097657 0-.199219 0-.300781 0h-18.398438v-67.296875c0-33-14.800781-62.703125-39-83.703125h60.5c5.5 0 10-4.5 10-10s-4.5-10-10-10zm-205.5 232h-41v-41h41zm192 0h-41v-41h41zm-137-201v-41h41v16.601562 6.898438 17.5zm0 0"></path><g><path d="m39.101562 80.300781c-21.5 0-39.101562-17.898437-39.101562-39.898437s17.5-39.902344 39.101562-39.902344c21.597657 0 39.097657 17.902344 39.097657 39.902344s-17.597657 39.898437-39.097657 39.898437zm0-59.800781c-10.5 0-19.101562 8.902344-19.101562 19.902344s8.601562 19.898437 19.101562 19.898437 19.097657-8.898437 19.097657-19.898437-8.597657-19.902344-19.097657-19.902344zm0 0"></path><path d="m360.101562 79.5c-22 0-39.902343-17.5-39.902343-39.097656 0-21.601563 17.902343-39.101563 39.902343-39.101563s39.898438 17.5 39.898438 39.101563c0 21.597656-17.898438 39.097656-39.898438 39.097656zm0-58.199219c-11 0-19.902343 8.601563-19.902343 19.101563s8.902343 19.097656 19.902343 19.097656 19.898438-8.597656 19.898438-19.097656-8.898438-19.101563-19.898438-19.101563zm0 0"></path></g></svg>
                                    </header>
                                    <h4 class=" text-xl">
                                        Creative Design
                                    </h4>
                                    <ul class="listServices pl-4 list-disc [&>li]:relative text-[#868a9b] flex flex-col justify-center items-start gap-4 pt-8 border-t border-[#75757544] w-full">
                                        <li class="">
                                            Figma Design
                                        </li>
                                        <li class="">
                                            PSD Design
                                        </li>
                                        <li class="">
                                            Sketch Design
                                        </li>
                                    </ul>
        
                                    <div class="absolute bottom-0 left-0  w-3/12 h-2 bg-[#3a3a3a]"></div>
                                </article>
                            </li>
                            <li>
                                <article>
                                    <header>
                                        <svg class="svg replaced-svg serviceSvg" xmlns="http://www.w3.org/2000/svg" height="42px" width="42px" viewBox="0 -59 400 400"><path d="m329.5 30h-89.5v-20.199219c.101562-5.300781-4.199219-9.699219-9.5-9.800781-.101562 0-.199219 0-.300781 0h-61.199219c-5.398438-.0976562-9.898438 4.203125-10 9.703125v.097656 20.199219h-89.300781c-5.5 0-10 4.5-10 10s4.5 10 10 10h60.601562c-24.199219 21-39.300781 50.800781-39.300781 83.703125v67.296875h-18.199219c-5.402343 0-9.800781 4.402344-9.800781 9.800781v.199219 61.203125c-.101562 5.296875 4.199219 9.699219 9.5 9.796875h.300781 61.199219c5.398438.101562 9.898438-4.296875 10-9.699219v-.097656-61.203125c0-5.5-4.5-10-10-10h-23v-67.296875c.101562-33.101563 18.601562-63.300781 48-78.5v15.796875c0 5.5 4.398438 10 9.898438 10h61.300781c5.402343 0 9.800781-4.398438 9.800781-9.796875 0-.101563 0-.101563 0-.203125v-15.796875c29.398438 15.097656 48 45.398437 48 78.5v67.296875h-22.800781c-5.597657 0-10.097657 4.402344-10.199219 10v61.203125c.101562 5.5 4.699219 9.898437 10.199219 9.796875h61.199219c5.203124.101562 9.5-4.097656 9.601562-9.398438 0-.101562 0-.300781 0-.398437v-61.203125c.199219-5.296875-4-9.796875-9.300781-10-.097657 0-.199219 0-.300781 0h-18.398438v-67.296875c0-33-14.800781-62.703125-39-83.703125h60.5c5.5 0 10-4.5 10-10s-4.5-10-10-10zm-205.5 232h-41v-41h41zm192 0h-41v-41h41zm-137-201v-41h41v16.601562 6.898438 17.5zm0 0"></path><g><path d="m39.101562 80.300781c-21.5 0-39.101562-17.898437-39.101562-39.898437s17.5-39.902344 39.101562-39.902344c21.597657 0 39.097657 17.902344 39.097657 39.902344s-17.597657 39.898437-39.097657 39.898437zm0-59.800781c-10.5 0-19.101562 8.902344-19.101562 19.902344s8.601562 19.898437 19.101562 19.898437 19.097657-8.898437 19.097657-19.898437-8.597657-19.902344-19.097657-19.902344zm0 0"></path><path d="m360.101562 79.5c-22 0-39.902343-17.5-39.902343-39.097656 0-21.601563 17.902343-39.101563 39.902343-39.101563s39.898438 17.5 39.898438 39.101563c0 21.597656-17.898438 39.097656-39.898438 39.097656zm0-58.199219c-11 0-19.902343 8.601563-19.902343 19.101563s8.902343 19.097656 19.902343 19.097656 19.898438-8.597656 19.898438-19.097656-8.898438-19.101563-19.898438-19.101563zm0 0"></path></g></svg>
                                    </header>
                                    <h4 class="text-xl">
                                        Creative Design
                                    </h4>
                                    <ul class="listServices pl-4 list-disc [&>li]:relative text-[#868a9b] flex flex-col justify-center items-start gap-4 pt-8 border-t border-[#75757544] w-full">
                                        <li class="">
                                            Figma Design
                                        </li>
                                        <li class="">
                                            PSD Design
                                        </li>
                                        <li class="">
                                            Sketch Design
                                        </li>
                                    </ul>
        
                                    <div class="absolute bottom-0 left-0  w-6/12 h-2 bg-[#3a3a3a]"></div>
                                </article>
                            </li>
                            <li>
                                <article>
                                    <header>
                                        <svg class="svg replaced-svg serviceSvg" xmlns="http://www.w3.org/2000/svg" height="42px" width="42px" viewBox="0 -59 400 400"><path d="m329.5 30h-89.5v-20.199219c.101562-5.300781-4.199219-9.699219-9.5-9.800781-.101562 0-.199219 0-.300781 0h-61.199219c-5.398438-.0976562-9.898438 4.203125-10 9.703125v.097656 20.199219h-89.300781c-5.5 0-10 4.5-10 10s4.5 10 10 10h60.601562c-24.199219 21-39.300781 50.800781-39.300781 83.703125v67.296875h-18.199219c-5.402343 0-9.800781 4.402344-9.800781 9.800781v.199219 61.203125c-.101562 5.296875 4.199219 9.699219 9.5 9.796875h.300781 61.199219c5.398438.101562 9.898438-4.296875 10-9.699219v-.097656-61.203125c0-5.5-4.5-10-10-10h-23v-67.296875c.101562-33.101563 18.601562-63.300781 48-78.5v15.796875c0 5.5 4.398438 10 9.898438 10h61.300781c5.402343 0 9.800781-4.398438 9.800781-9.796875 0-.101563 0-.101563 0-.203125v-15.796875c29.398438 15.097656 48 45.398437 48 78.5v67.296875h-22.800781c-5.597657 0-10.097657 4.402344-10.199219 10v61.203125c.101562 5.5 4.699219 9.898437 10.199219 9.796875h61.199219c5.203124.101562 9.5-4.097656 9.601562-9.398438 0-.101562 0-.300781 0-.398437v-61.203125c.199219-5.296875-4-9.796875-9.300781-10-.097657 0-.199219 0-.300781 0h-18.398438v-67.296875c0-33-14.800781-62.703125-39-83.703125h60.5c5.5 0 10-4.5 10-10s-4.5-10-10-10zm-205.5 232h-41v-41h41zm192 0h-41v-41h41zm-137-201v-41h41v16.601562 6.898438 17.5zm0 0"></path><g><path d="m39.101562 80.300781c-21.5 0-39.101562-17.898437-39.101562-39.898437s17.5-39.902344 39.101562-39.902344c21.597657 0 39.097657 17.902344 39.097657 39.902344s-17.597657 39.898437-39.097657 39.898437zm0-59.800781c-10.5 0-19.101562 8.902344-19.101562 19.902344s8.601562 19.898437 19.101562 19.898437 19.097657-8.898437 19.097657-19.898437-8.597657-19.902344-19.097657-19.902344zm0 0"></path><path d="m360.101562 79.5c-22 0-39.902343-17.5-39.902343-39.097656 0-21.601563 17.902343-39.101563 39.902343-39.101563s39.898438 17.5 39.898438 39.101563c0 21.597656-17.898438 39.097656-39.898438 39.097656zm0-58.199219c-11 0-19.902343 8.601563-19.902343 19.101563s8.902343 19.097656 19.902343 19.097656 19.898438-8.597656 19.898438-19.097656-8.898438-19.101563-19.898438-19.101563zm0 0"></path></g></svg>
                                    </header>
                                    <h4 class="text-xl">
                                        Creative Design
                                    </h4>
                                    <ul class="listServices pl-4 list-disc [&>li]:relative text-[#868a9b] flex flex-col justify-center items-start gap-4 pt-8 border-t border-[#75757544] w-full">
                                        <li class="">
                                            Figma Design
                                        </li>
                                        <li class="">
                                            PSD Design
                                        </li>
                                        <li class="">
                                            Sketch Design
                                        </li>
                                    </ul>
                                    
                                    <div class="absolute bottom-0 left-0  w-9/12 h-2 bg-[#3a3a3a]"></div>
                                </article>
                            </li>
                        </ul>
                    </section>
                </footer>
            </section>

            <section class="flex flex-col gap-16 md:gap-24 justify-center items-start">
                <header>
                    <h3 class="text-4xl">Don't take it from me</h3>
                </header>

                <section class="flex flex-col gap-20">
                    <article class="text-[#9f968a] max-w-2xl text-lg flex flex-col justify-center items-start gap-8  text-pretty">
                        <div>
                            <p>We brought Ben on to help implement and improve the design of the UI powering a hardware demo that was key to helping us raise a funding round. Ben worked quickly alongside our team internally, his combined design and development knowledge helped us move fast and meet our deadlines. <span class="text-white">His eye for detail and taste helped us over-deliver and polish on a tight timeline</span>.</p>
                        </div>

                        <footer class="flex flex-row gap-4 justify-center items-center">
                            <img class="size-12 rounded-lg" src={testimonialImage?.src} alt="">
                            <div>
                                <h6 class="text-white text-base">Vasu Nadella</h6>
                                <p class="text-sm">Co-founder & CEO, Vital</p>
                            </div>
                        </footer>
                    </article>

                    <article class="text-[#9f968a] max-w-2xl text-lg flex flex-col justify-center items-start gap-8  text-pretty">
                        <div>
                            <p>We brought Ben on to help implement and improve the design of the UI powering a hardware demo that was key to helping us raise a funding round. Ben worked quickly alongside our team internally, his combined design and development knowledge helped us move fast and meet our deadlines. <span class="text-white">His eye for detail and taste helped us over-deliver and polish on a tight timeline</span>.</p>
                        </div>

                        <footer class="flex flex-row gap-4 justify-center items-center">
                            <img class="size-12 rounded-lg" src={testimonialImage?.src} alt="">
                            <div>
                                <h6 class="text-white text-base">Vasu Nadella</h6>
                                <p class="text-sm">Co-founder & CEO, Vital</p>
                            </div>
                        </footer>
                    </article>

                </section>
            </section>

            <SemiFooter />
        </section>

	</main>
	<Footer />
</Layout>

<style>
	
	.serviceSvg{
		filter: opacity(0.4);
		transition: filter 0.4s ease-in-out;
	}.listOfServices li:hover .serviceSvg{
		filter: opacity(1);
	}

</style>