---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import Init from '../components/Init.astro';
import Footer from '../components/Footer.astro';

import SemiFooter from "../components/SemiFooter.astro";

import CMtoPX from '../components/Converters/Units/CMtoPX.astro';
/*

grupo 1:
H. Conversor de JSON a CSV.
H. Conversor de EM a PX. ( faltan más )

H. Conversor de color (RGB, HEX y HSL):
   Convierte códigos de color entre formatos como RGB, HEX, HSL.

Conversor Markdown a HTML:
   Un conversor que convierta texto en formato Markdown a HTML y viceversa.

Conversor de unidades de almacenamiento:
Convierte entre bytes, kilobytes, megabytes, gigabytes, terabytes, etc. Puede ser útil para desarrolladores y usuarios que manejan datos o servidores.

Conversor de formato de imagen (base64 a imagen):
Convierte imágenes entre formatos comunes como PNG, JPEG, BMP, o desde/para base64.

grupo 2:

Conversor de sistemas numéricos:
Convierte números entre diferentes sistemas: binario, decimal, octal, hexadecimal.

Conversor de unidades de tiempo:
Convierte entre diferentes unidades de tiempo (segundos, minutos, horas, días, semanas, meses, años).

Conversor de unidades de velocidad:
Convierte entre diferentes unidades de velocidad como kilómetros por hora, metros por segundo, millas por hora, etc.

grupo 3: (longitudes)

Conversor de temperatura:
Convierte entre Celsius, Fahrenheit y Kelvin.

Conversor de peso y masa:
Convierte entre gramos, kilogramos, libras, onzas, toneladas.

Conversor de longitudes:
Convierte entre metros, kilómetros, millas, pies, pulgadas, yardas, etc.

*/
---

<Layout title="Mega Converter">
	<Header />
	<main class="scroll-smooth w-full flex flex-col gap-8 px-6 md:px-10 pt-12 pb-6 max-w-5xl m-auto  [&>hr]:border-[#303436]">
		<Init />
		<SemiFooter />
	</main>
	<Footer />
</Layout>

