---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import Init from '../components/Init.astro';
import Footer from '../components/Footer.astro';
---

<Layout title="Portfolio Prototype v3">
	<Header page='index' />
	<main class="scroll-smooth w-full px-6 md:px-10 pt-12 pb-6 max-w-5xl m-auto">
		<Init/>
	</main>
	<Footer />
</Layout>
