---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import Init from '../components/Init.astro';
import Footer from '../components/Footer.astro';

/*
Conversor de unidades de tiempo:
Convierte entre diferentes unidades de tiempo (segundos, minutos, horas, días, semanas, meses, años).

Conversor de unidades de almacenamiento:
Convierte entre bytes, kilobytes, megabytes, gigabytes, terabytes, etc. Puede ser útil para desarrolladores y usuarios que manejan datos o servidores.

Conversor de temperatura:
Convierte entre Celsius, Fahrenheit y Kelvin.

Conversor de unidades de velocidad:
Convierte entre diferentes unidades de velocidad como kilómetros por hora, metros por segundo, millas por hora, etc.

Conversor de formato de imagen (base64 a imagen):
Convierte imágenes entre formatos comunes como PNG, JPEG, BMP, o desde/para base64.

Conversor de sistemas numéricos:
Convierte números entre diferentes sistemas: binario, decimal, octal, hexadecimal.

Conversor de peso y masa:
Convierte entre gramos, kilogramos, libras, onzas, toneladas.

Conversor de longitudes:
Convierte entre metros, kilómetros, millas, pies, pulgadas, yardas, etc.

Conversor de color (RGB a HEX):
Convierte códigos de color entre formatos como RGB, HEX, HSL.

Conversor Markdown a HTML:
Un conversor que convierta texto en formato Markdown a HTML y viceversa.
*/
---

<Layout title="Mega Converter">
	<Header page='index' />
	<main class="scroll-smooth w-full px-6 md:px-10 pt-12 pb-6 max-w-5xl m-auto">
		<Init/>
	</main>
	<Footer />
</Layout>

