---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import Init from '../components/Init.astro';
import Footer from '../components/Footer.astro';

import SemiFooter from "../components/SemiFooter.astro";

import CMtoPX from '../components/Converters/Units/CMtoPX.astro';
import FileConverters from '../components/FileConverters.astro';
---

<Layout title="Mega Converter">
	<Header />
	<main class="scroll-smooth w-full flex flex-col gap-8 px-6 md:px-10 pt-12 pb-6 max-w-5xl m-auto  [&>hr]:border-[#303436]">
		<Init />
		<hr>
		<FileConverters />
		<SemiFooter />
	</main>
	<Footer />
</Layout>

