---
import JSONtoCSV from "./Converters/Documents/JSONtoCSV.astro";
import MarkdownConverter from "./Converters/Documents/MarkdownConverter.astro";


---

<section class="flex flex-col gap-4 [&>section]:max-w-md">

    <JSONtoCSV />
    <hr class="border-[#303436]">
    <MarkdownConverter />   

</section>