---

---

<footer class="flex flex-col gap-8 justify-between items-center font-lato-light w-full px-6 md:px-10 pt-4 pb-8 max-w-5xl m-auto tracking-[1px] scroll-smooth">

    <hr class="border-[#303436] w-full">

    <div class="flex justify-between items-center w-full gap-4">
        <p class="text-[#8A847A] text-balance text-sm">2024 Fabricio Jordán. No Rights Reserved. </p>

        <form method="get" action="FabricioJordán.pdf">
            <button class="inline-flex items-end underline underline-offset-4 decoration-2" type="submit">
                Read.cv
            </button>
        </form>
    </div>
</footer>