---

---

<footer class="flex flex-col gap-8 justify-between items-center
w-full px-6 md:px-10 pt-4 pb-8 max-w-5xl m-auto tracking-[1px] scroll-smooth">

    <hr class="border-[#303436] w-full">

    <div class="flex justify-between items-center w-full gap-4">
        <p class="text-[#8A847A] text-balance">© 2023 Stealth Ltd. No Rights Reserved. </p>

        <div class="text-sm flex flex-row gap-4 [&>A]:flex [&>A]:flex-row [&>A]:justify-center [&>A]:items-center [&>A]:gap-1 [&>A]:text-white [&>A]:transition-opacity [&>A]:duration-300 hover:[&>A]:opacity-[.5] [&_svg]:size-3 [&_svg]:rotate-[-45deg]">
            <a href="">Twitter<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path fill="#fff" d="M438.6 278.6c12.5-12.5 12.5-32.8 0-45.3l-160-160c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3L338.8 224 32 224c-17.7 0-32 14.3-32 32s14.3 32 32 32l306.7 0L233.4 393.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0l160-160z"/></svg></a>
            <a href="">Read.cv<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path fill="#fff" d="M438.6 278.6c12.5-12.5 12.5-32.8 0-45.3l-160-160c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3L338.8 224 32 224c-17.7 0-32 14.3-32 32s14.3 32 32 32l306.7 0L233.4 393.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0l160-160z"/></svg></a>
        </div>
    </div>
</footer>