---
---

<header class="w-full gap-4 md:gap-0 px-6 md:px-10 py-12 max-w-5xl m-auto flex flex-col md:flex-row justify-center md:justify-between items-start md:items-center tracking-[1px] scroll-smooth">
    <h1 class="uppercase text-lg text-wrap">Fabricio <span class="sm:block">Jordán</span></h1>

    <hr class="md:hidden border-t border-[#292929] w-full">

    <ul class="text-[#8a847a] flex flex-row flex-wrap justify-around sm:justify-end items-center gap-4 md:gap-8 hover:[&_A]:text-white [&_A]:transition-colors [&_A]:duration-300 text-lg sm:text-base">
        <li>
            <a class="px-6 py-2.5 transition-all duration-500 !text-[#ffffff] !bg-[#111111] hover:!bg-[#363636] rounded-3xl" href="mailto:fabriziodevjordan@gmail.com?subject=Hello%20Fabricio!%20...">Email Me</a>
        </li>
    </ul>
</header>
