---
import projectImage1 from "/src/assets/images/projects/project1.webp"
---

<section class="flex flex-col gap-24 md:gap-40">

    <a class="" href="">
        <article class="flex flex-col md:flex-row gap-12">
            <header class="overflow-hidden">
                <img class="object-cover w-full max-h-[400px] md:max-h-[500px] m-auto transition-transform hover:scale-110" src={projectImage1?.src} alt="">
            </header>
            <footer class="flex flex-col justify-center items-start md:max-w-96">
                <h3 class="text-5xl py-4">Band</h3>
                <p class="text-[#8A847A] text-lg">Product design • 2023</p>
                <p class="md:text-lg">Reimagining direct buying group tools with intuitive interfaces, and streamlined workflows.</p>
            </footer>
        </article>
    </a>
<!-- 
    <a class="" href="">
        <article class="flex flex-col md:flex-row-reverse gap-12">
            <header class="overflow-hidden">
                <img class="object-cover w-full max-h-[400px] md:max-h-[500px] m-auto transition-transform hover:scale-110" src={projectImage1?.src} alt="">
            </header>
            <footer class="flex flex-col justify-center items-start md:max-w-96">
                <h3 class="text-5xl py-4">Band</h3>
                <p class="text-[#8A847A] text-lg">Product design • 2023</p>
                <p class="md:text-lg">Reimagining direct buying group tools with intuitive interfaces, and streamlined workflows.</p>
            </footer>
        </article>
    </a> -->

</section>