---

---

<section class="flex flex-col gap-12 [&_P]:font-medium [&_P]:text-lg [&_P]:tracking-wide [&>hr]:border-[#303436]">
        
    <hr>

    <article class="flex flex-col gap-8 justify-center items-center sm:items-start text-center sm:text-start max-w-xl">
        <p class="text-lg md:text-2xl text-pretty">If you think I’d be a good fit for your next project, please send me an email.</p>
        <a class="px-6 py-2.5 transition-colors duration-300 !text-[#000000] !bg-[#d3d3d3] hover:!text-black hover:!bg-[#ffffff] rounded-3xl" href="mailto:fabriorange28@gmail.com">fabriorange28@gmail.com</a>
    </article>

    <hr>

    <article class="flex flex-row md:flex-col md:gap-12 justify-between md:justify-center items-center
    [&>article]:flex [&>article]:flex-col [&>article]:gap-8 [&>article]:justify-center [&>article]:items-start [&>article]:px-6 [&>article]:md:px-0 [&>hr]:border-[#303436] [&>article]:md:w-full [&>hr]:hidden [&>hr]:md:flex">
    

        <article class="">
            <p>Learn more about me and how I work.</p>
            <a class="px-6 py-2.5 transition-colors duration-300 !text-[#ffffff] !bg-[#00000000] hover:!bg-[#414141] border border-[#3d3d3d] rounded-3xl flex flex-row gap-2 justify-center items-center" href="/About">About<svg class="size-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path fill="#ffffff" d="M438.6 278.6c12.5-12.5 12.5-32.8 0-45.3l-160-160c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3L338.8 224 32 224c-17.7 0-32 14.3-32 32s14.3 32 32 32l306.7 0L233.4 393.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0l160-160z"/></svg></a>
        </article>

        <hr class="border-[#303436] w-full">

        <article class="border-l border-[#303436] md:border-0">
            <p>See more of my work throughout the years.</p>
            <a class="px-6 py-2.5 transition-colors duration-300 !text-[#ffffff] !bg-[#00000000] hover:!bg-[#414141] border border-[#3d3d3d] rounded-3xl flex flex-row gap-2 justify-center items-center" href="/Gallery">Gallery<svg class="size-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path fill="#ffffff" d="M438.6 278.6c12.5-12.5 12.5-32.8 0-45.3l-160-160c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3L338.8 224 32 224c-17.7 0-32 14.3-32 32s14.3 32 32 32l306.7 0L233.4 393.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0l160-160z"/></svg></a>
        </article>

        <hr class="border-[#303436] ">
    </article>
</section>