---

---

<section class="flex flex-col gap-12 font-lato-light [&_P]:font-medium [&_P]:text-lg [&_P]:tracking-wide [&>hr]:border-[#303436]">
        
    <hr>

    <article class="flex flex-col gap-8 justify-center items-center sm:items-start text-center sm:text-start max-w-xl">
        <p class="text-lg md:text-2xl text-pretty">If you think I’d be a good fit for your next project, please send me an email.</p>
        <a class="px-6 py-2.5 transition-colors duration-300 !text-[#000000] !bg-[#d3d3d3] hover:!text-black hover:!bg-[#ffffff] rounded-3xl font-lato" href="mailto:fabriziodevjordan@gmail.com?subject=Hello%20Fabricio!%20...">fabriziodevjordan@gmail.com</a>
    </article>

    </article>
</section>